name: Deploy to Prod environment

on:
  workflow_dispatch:

jobs:
  validate-tag-format:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Validate input format
        run: |
          # echo ${{ GITHUB_REF_NAME }}
          # if [[ "${{ GITHUB_REF_NAME }}" == v.1.2.24 ]]; then
          #   echo "True"
          # else
          #   echo "False"
          # fi
          echo "${GITHUB_REF_NAME}"