name: Deploy to Prod environment

on:
  workflow_dispatch:

jobs:
  validate-tag-format:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Validate input format
        run: |
          echo ${{ github.ref_name }}
          if [[ ${{ github.ref_name }} == v.1.2.29 ]]; then
            echo "True"
          else
            echo "False"
          fi